body {
	font-size: 14px;
	font-family: "Arial";
	background: #eeeeee;
}

html, body, #root, #main {
	width: 100%;
	height: 100%;
	margin: 0;
}

.small-text {
	font-size: 0.75rem;
}

.content {
	flex: 1 1 auto
}

.header {
	height: 55px;
}

.text-purple {
	color: #4F378B
}

.text-white {
	color: white;
}

.text-yellow {
	color: #ffc107
}

.error {
	color: red;
	font-size: 12px;
}

.success {
	color: green;
	font-size: 12px;
}

.myscroll::-webkit-scrollbar {
    width: 5px;
}

.myscroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #B8C0BC;
}

.myscroll::-webkit-scrollbar-thumb:hover {
    background-color: #AAAAAA;
}
